ios/RNRecorder.xcodeproj/xcuserdata/juno.xcuserdatad/xcschemes/xcschememanagement.plist
ios/RNRecorder.xcodeproj/xcuserdata/juno.xcuserdatad/xcschemes/RNRecorder.xcscheme
ios/RNRecorder.xcodeproj/project.xcworkspace/xcuserdata/juno.xcuserdatad/UserInterfaceState.xcuserstate
ios/Libraries/SCRecorder.xcodeproj/xcuserdata/juno.xcuserdatad/xcschemes/xcschememanagement.plist
ios/Libraries/SCRecorder.xcodeproj/xcuserdata/juno.xcuserdatad/xcschemes/SCRecorderMac.xcscheme
ios/Libraries/SCRecorder.xcodeproj/xcuserdata/juno.xcuserdatad/xcschemes/SCRecorderFramework.xcscheme
ios/Libraries/SCRecorder.xcodeproj/xcuserdata/juno.xcuserdatad/xcschemes/SCRecorder.xcscheme
